@import "tailwindcss";

@layer base {
  button {
    @apply 
      focus:outline-none
    bg-blue-300 
    text-blue-800
    hover:bg-blue-200
      font-semibold
      text-lg
      p-2
      rounded-xl
      flex
      items-center
      justify-center
      w-full
      h-full
  }

  a {
    @apply 
      focus:outline-none
      bg-gray-100
      hover:bg-gray-200
      text-gray-800
      text-[1rem] md:text-[1.2rem]
      pl-5
      p-2
      rounded-4xl
      flex
      items-center
      justify-start
      mb-2
  }

  input {
    @apply border border-gray-200 rounded-md p-1.5 hover:shadow;
  }
}